<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        item_1
      </mat-panel-title>
    </mat-expansion-panel-header>
     <a href="">
      <mat-icon>home</mat-icon>
      Dashboard
    </a>
  </mat-expansion-panel>
  <mat-expansion-panel (opened)="panelOpenState = true"
                       (closed)="panelOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Item_2
      </mat-panel-title>
    </mat-expansion-panel-header>
     <a href="">
      <mat-icon>home</mat-icon>
      painel Administrativo
    </a>
  </mat-expansion-panel>
</mat-accordion>
