@keyframes headerAnimate{
    0%{
        transform:translate(100%, 0);
    }
    100%{
        transform:translate(0, 0);
    }
}

@keyframes contentAnimate{
    0%{
        transform:translate(-100%, 0);
    }
    100%{
        transform:translate(0, 0);
    }
}