/* Estilo que sobescreve Material Angular */

mat-sidenav-container{
    height:100%;
    overflow:hidden;
}
mat-sidenav{
    height:100%;
    display:flex;
    flex-direction:column;
    background:rgba(54,67,84, 1.0) !important;
}
mat-sidenav-content{

}
mat-sidenav-content::-webkit-scrollbar{
  width: 0.3em;
}
mat-sidenav-content::-webkit-scrollbar-track{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
mat-sidenav-content::-webkit-scrollbar-thumb{
  background-color: #90a4ae;
  outline: 1px solid slategrey;
}
.mat-toolbar{
    background:rgba(207,216,220, 0.9) !important;
    position:fixed;
}
.mat-drawer{
    display:flex !important;
}
.mat-fab.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
    background:rgba(54,67,84, 1.0) !important;
}
.mat-form-field{
    width:100% !important;
}
.mat-slide-toggle{
    margin-top:21px;
}