<mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>
                public
              </mat-icon> 
              All documents
            </mat-panel-title>
          </mat-expansion-panel-header>
           <mat-accordion>
             <mat-expansion-panel>
               <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>
                      folder
                    </mat-icon>
                    Folder_1
                  </mat-panel-title>
              </mat-expansion-panel-header>
                <a href="">
                  <mat-icon>
                    picture_as_pdf
                  </mat-icon>
                  nome_arquivo
                </a>
                <a href="">
                  <mat-icon>
                    picture_as_pdf
                  </mat-icon>
                  nome_arquivo
                </a>
                <a href="">
                  <mat-icon>
                    picture_as_pdf
                  </mat-icon>
                  nome_arquivo
                </a>
             </mat-expansion-panel>
              <mat-expansion-panel>
               <mat-expansion-panel-header>
                  <mat-panel-title>
                    <mat-icon>
                      folder
                    </mat-icon>
                    Folder_1
                  </mat-panel-title>
              </mat-expansion-panel-header>
                <a href="">
                  <mat-icon>
                    picture_as_pdf
                  </mat-icon>
                  nome_arquivo
                </a>
                <a href="">
                  <mat-icon>
                    picture_as_pdf
                  </mat-icon>
                  nome_arquivo
                </a>
                <a href="">
                  <mat-icon>
                    picture_as_pdf
                  </mat-icon>
                  nome_arquivo
                </a>
             </mat-expansion-panel>
           </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
        