<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')" (closed)="events.push('close!')">
    <app-name></app-name>
    <app-menu></app-menu>      
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>
            menu
          </mat-icon>
        </button>
        <app-logo></app-logo>
        <span class="spacer"></span>
        <app-perfil></app-perfil>
      </mat-toolbar-row>
    </mat-toolbar>
    <main>
    <router-outlet></router-outlet>
      
    </main>
    <!-- <p><mat-checkbox [(ngModel)]="opened">sidenav.opened</mat-checkbox></p> -->
  </mat-sidenav-content>
</mat-sidenav-container>



